body, html {
  overflow: initial;
}
body {
  margin: 0px;
}
#display {
  background: #333333;
  color: #CCCCCC;
  white-space: pre;
  word-wrap: normal;
  font-family: "Droid Sans Mono", monospace;
}
#display div {
  overflow: hidden;
}
.cursor-line {
  background: #555555;
}
#input {
  position: fixed;
  top: -1000px;
  opacity: 0;
}
#cursor {
  position: absolute;
  z-index: 1;
  top: 0px;
  height: 100%;
  display: inline-block;
  background: white;
  width: 2px;
  -webkit-animation: pulse 250ms infinite ease alternate-reverse;
  -webkit-transform: rotateX(0);
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}